{% extends 'main/base.html' %}

{% block title %}
Create new list
{% endblock title %}


{% block content %}
    <h3>Create new list</h3>
    {% if user.is_authenticated %}
        <form method="post" action="/create/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit", name="save" class="btn btn-success">Create New</button>
                </div>
                {{form.name}}
            </div>
        </form>
    {% else %}
        <p><a href="/login/">Buradan</a> giriş yapın.</p>
    {% endif %}
{% endblock content %}